
<mat-toolbar>
  <button mat-icon-button class="" aria-label="" [matMenuTriggerFor]="aboveMenu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #aboveMenu="matMenu" yPosition="above">
    <button mat-menu-item routerLink='/characters' >Characters</button>
    <button mat-menu-item routerLink='/teachers'>Teachers</button>
    <button mat-menu-item routerLink='/students'>Students</button>
  </mat-menu>
  <span routerLink=''>{{ title }} </span>
</mat-toolbar>
<router-outlet></router-outlet>

  
