.form{
    margin-left: 10%;
    background-color: black;
    width: 50%;
  /*  opacity: 0.6;    */
}
.form-content{
    opacity:1;    
    margin-left: 15px;
}

table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }